body {
    background-color: #f0f3f6;
}

.container {
    padding-top: 20px;
}

.prepaid,
.activateStatus,
.activate {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    h2 {
        color: #555;
        margin-bottom: 15px;
    }
    p {
        color: #777;
    }
}

.activateStatus {
    .activateContent {
        display: flex;
        .des {
            width: 200px;
        }
        .status {
            flex: 1;
            color: green;
        }
    }
}

#uploadContainer {
    display: flex;
    &>* {
        margin-right: 20px;
    }
    #preview {
        width: 300px;
        height: 400px;
        background-color: #ccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #jsonreturn {
        width: 100%;
        height: 359px;
        overflow-y: scroll;
        background-color: #ddd;
        padding: 10px;
    }
    .leftPart {
        width: 300px;
    }
    .rightPart {
        flex: 1;
        p {
            font-size: 20px;
        }
    }
    @media only screen and (max-width: 780px) {
      flex-direction: column;
      .leftPart {
          width: 100%;
      }
      #preview {
          width: 100%;
      }
  }
}

.swal2-actions {
    .btn {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.tags-input {
    display: block;
    width: 100%;
}

#cover {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 10;
}