doctype html
html(lang='en')
  include template/head.jade
  include template/script.jade
  body
    #cover
    include template/nav.jade
    +navbar('home')
    div.container
      div.row
        include template/activateStatus.jade
        include template/logHistory.jade
        include template/chargeHistory.jade
        include template/prepaidHistory.jade