doctype html
html(lang='en')
  include template/head.jade
  body
    #cover
    include template/nav.jade
    +navbar('activate')
    div.container
      div.row
        include template/migration.jade
  include template/script.jade
  script(src='js/migration.js')