doctype html
html(lang='en')
  include template/head.jade
  body
    #cover
    include template/nav.jade
    +navbar('notification')
    div.container
      include template/email.jade
  include template/script.jade
  script(src='js/notification.js')
