doctype html
html(lang='en')
  include template/head.jade
  body
    #cover
    include template/nav.jade
    +navbar('prepaid')
    div.container
      div.row
        include template/prepaid.jade
  include template/script.jade
  script(src='js/sn.js')