doctype html
html(lang='en')
  include template/head.jade
  body
    #cover
    include template/nav.jade
    +navbar('test')
    div.container
      include template/upload.jade
  include template/script.jade
  script(src='js/testFace.js')
  script(src='js/jjsonviewer.js')