div.activate.col.col-12
  h2(t='ACTIVATE') Activate
  .form-group
    input#activateCode.form-control(maxlength='36' type='string', placeholder='Ex: 12948d08-f760-11e7-8c3f-9a214cf093ae')
  button#activateButton.btn.btn-primary.mb-3(t='SUBMIT') Submit
  div
    a(t='ACTIVATE_MIGRATION' href='/migration.html')
