div.activateStatus.col.col-12
    h2(t='ACTIVATE_STATUS') Activate Status
    div.activateContent
        p.des(t='STATUS') Status
        p#activateStatus.status
    div.activateContent
        p.des(t='ACTIVATE_COUNT') Activate Count
        p#activateCount.status
    div.activateContent
        p.des(t='EXPIRE_AT') Activate Expired
        p#activateExpire.status
script(src='js/activateStatus.js')