div.activate.col.col-12
  h2(t='CHARGE_HISTORY') Chargeback Records
  div.form-inline.mb-3
    div.form-group.mr-3
        label.mr-2(for='startDate' t='START_DATE') Start Date
        input#chargeStartDate.form-control(type='date', placeholder='2018/01/01')
    div.form-group.mr-3
        label.mr-2(for='endDate' t='END_DATE') End Date
        input#chargeEndDate.form-control(type='date', placeholder='2018/01/11')
    button#chargeSearch.btn.btn-primary(t='SEARCH') Search
  table.table
    thead
      tr
        th #
        th(t=Time) Time
    tbody#chargeBody

  ul#paginationCharge.pagination
  script(src='js/chargeHistory.js')
