.form-group
  label(for='#host' t='HOST') Host
  input#host.form-control(maxlength='50' type='text' placeholder='smtp.gmail.com')
.form-group
  label(for='#port' t='PORT') Port
  input#port.form-control(type='number' min='1' max='65535' placeholder='465')
.form-group
  label(for='#senderEmail' t='SENDER_EMAIL') Sender Email
  input#senderEmail.form-control(type='email' maxlength='50' placeholder='jack_chen@gmail.com')
.form-group
  label(for='#senderPassword' t='SENDER_PASSWORD') Sender Password
  input#senderPassword.form-control(type='password' maxlength='50' placeholder='jack_chen@gmail.com')
.form-group
  label(for='#recipients' t='RECIPIENTS') Recipients
  input#recipients.form-control(type='tags' maxlength='50' placeholder='jack_chen@gmail.com')
.form-group
  button#btnTest.btn.mr-3(t='TEST') Test
  button#btnSave.btn.btn-primary(t='SAVE') Save