head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/sweetalert2.min.css')
    link(rel='stylesheet', href='css/jjsonviewer.css')
    link(rel='stylesheet', href='css/tags-input.css')
    link(rel='stylesheet', href='css/style.css')
    title WiSignFaceID