div.activate.col.col-12
  h2(t='LOG_HISTORY') Log History
  div.form-inline.mb-3
    div.form-group.mr-3
        label.mr-2(for='startDate' t='START_DATE') Start Date
        input#historyStartDate.form-control(type='date', placeholder='2018/01/01')
    div.form-group.mr-3
        label.mr-2(for='endDate' t='END_DATE') End Date
        input#historyEndDate.form-control(type='date', placeholder='2018/01/11')
    button#historySearch.btn.btn-primary(t='SEARCH') Search
  table.table
    thead
      tr
        th #
        th(t='LOG') log
        th(t='CREATEAT') createAt
    tbody#hisytoryBody

  ul#paginationHistory.pagination
  script(src='js/logHistory.js')
