div.activate.col.col-12
  h2(t='MIGRATION') 
  h3(t='REQUIRE_INFO')
  .form-group
    label(t='TOKEN')
    textarea#migrateCode.form-control(disabled)
  .form-group
    label(t='PROJECT_ID')
    input#projectID.form-control(disabled)
  h3(t='MIGRATION_CODE')
  .form-group
    textarea#resultCode.form-control(maxlength='360' type='string', placeholder='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....')
  button#migrationButton.btn.btn-primary(t='SUBMIT') Submit
