mixin navbar(pageName)
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') WiSignFaceID
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item(class= pageName==='home'&&'active')
          a.nav-link(href='/' t='ACTIVATE_STATUS') Activate Status
        li.nav-item(class= pageName==='prepaid'&&'active')
          a.nav-link(href='/prepaidSN.html' t='PREPAID') Prepaid
        //- li.nav-item(class= pageName==='test'&&'active')
        //-   a.nav-link(href='/testFace.html' t='TEST') Test
        li.nav-item(class= pageName==='notification'&&'active')
          a.nav-link(href='/notification.html' t='NOTIFICATION') Notification
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" t='LANG') Language
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item.langBtn(href='#' lang='en') English
            a.dropdown-item.langBtn(href='#' lang='zhtw') 繁體中文
            //- a.dropdown-item.langBtn(href='#' lang='zhcn') 简体中文