div.activate.col.col-12
  h2(t='PREPAID_RECORDS') Prepaid Records
  //- div.form-inline.mb-3
  //-   div.form-group.mr-3
  //-       label.mr-2(for='startDate' t='START_DATE') Start Date
  //-       input#prepaidStartDate.form-control(type='date', placeholder='2018/01/01')
  //-   div.form-group.mr-3
  //-       label.mr-2(for='endDate' t='END_DATE') End Date
  //-       input#prepaidEndDate.form-control(type='date', placeholder='2018/01/11')
  //-   button#prepaidSearch.btn.btn-primary(t='SEARCH') Search
  table.table
    thead
      tr
        th #
        th(t='TIME') Time
        th(t='SN') SN
        th(t='COUNT') Count
        th(t='EXPIREAT') ExpireAt
    tbody#prepaidBody

  ul#paginationPrepaid.pagination
  script(src='js/prepaidHistory.js')
