div.prepaid.col.col-12
  h2(t='PREPAID') Prepaid
  .form-group
    textarea#snCode.form-control(rows='5' maxlength='1000' placeholder='EX: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwc.....')
  button#snSubmit.btn.btn-primary(t='SUBMIT') Submit
