script(src='js/es6-shim.min.js')
script(src='js/localization.js')
script(src='js/jquery.min.js')
script(src='js/jquery.i18n.js')
script(src='js/bootstrap.min.js')
script(src='js/sweetalert2.all.min.js')
script(src='js/tags-input.js')
script(src='js/jquery.twbsPagination.min.js')
script(src='js/axios.min.js')
script(src='js/index-min.js')
script(src='js/errorHandler.js')
script(src='js/main.js')