#uploadContainer.mx-auto
  .leftPart
    h3 Input Data
    .form-group
      label(for='#userID' t='USER_ID') User ID
      input#userID.form-control(type='text' maxlength='100').mb-3.uploadControl
    .form-group
      label(for='#testFile' t='UPLOAD_IMAGE') Upload Image
      input#testFile.form-control.mb-3(type='file' accept='image/x-png,image/gif,image/jpeg')
    .buttonBar.mb-3
      button#btnEnroll.btn.btn-primary.mr-1.uploadControl(disabled t='ENROLL') Enroll
      button#btnValidate.btn.btn-primary.mr-1.uploadControl(disabled t='RECOGNITION') Recognition
      button#btnDelete.btn.btn-primary.uploadControl(disabled t='DELETE') Delete
    #preview.mb-3
  
  .rightPart
    h3 Result
    p Status: 
      span#recoStatus
    p Similarity: 
      span#similarity
    p Brightness: 
      span#brightness
    p Sharpness: 
      span#sharpness
    p size: 
      span#faceSize
    h3(t='RETURN_JSON') Return JSON
    div#jsonreturn
    